<!DOCTYPE html>
<html lang="en">

<head>
    <title>Burger Picker App</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/svg-with-js.min.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Rancho&display=swap" rel="stylesheet">
    <!-- JavaScript -->
    <script src="/assets/js/burgers.js"></script>
</head>

<body>
    {{{ body }}}
</body>

</html>